{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
					<h2 >{{ article.titre }}</h2>
					<p>{{ article.texte }}</p>
                    <p>Publié le : {{ article.date|date('D-m-Y') }}</p>
                    {# <p> publié par : {{ article.id_user }}</p> #}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
